<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles de la Parroquia</title>
</head>
<body>
    <h2>Detalles de la Parroquia: {{ parroquia.nombre }}</h2>
    <ul>
        <li><strong>Nombre:</strong> {{ parroquia.nombre }}</li>
        <li><strong>Ubicación:</strong> {{ parroquia.ubicacion }}</li>
        <li><strong>Tipo:</strong> {{ parroquia.tipo }}</li>
    </ul>
    
    <h3>Barrios en esta parroquia:</h3>
    <ul>
        {% for barrio in parroquia.barrios.all %}
            <li>{{ barrio.nombre }} (Parques: {{ barrio.numero_parques }}, Viviendas: {{ barrio.numero_viviendas }})</li>
        {% empty %}
            <li>No tiene barrios asignados.</li>
        {% endfor %}
    </ul>
    
    <br>
    [<a href="{% url 'index' %}">inicio</a>]
</body>
</html>
