{% extends "admin/base_site.html" %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'index' %}">Sistema de Ordenamiento Territorial</a></h1>
{% endblock %}

{% block nav-global %}
    <a href="{% url 'listar_parroquias' %}">Listar Parroquias</a> |
    <a href="{% url 'listar_barrios' %}">Listar Barrios</a> |
    <a href="{% url 'crear_parroquia' %}">Crear Parroquia</a> |
    <a href="{% url 'crear_barrio' %}">Crear Barrio</a>
{% endblock %}

{% block content %}
<div id="content-main">
    <h2>Detalles del Barrio: {{ barrio.nombre }}</h2>
    <ul>
        <li><strong>Nombre:</strong> {{ barrio.nombre }}</li>
        <li><strong>Parroquia:</strong> {{ barrio.parroquia.nombre }}</li>
        <li><strong>Viviendas:</strong> {{ barrio.numero_viviendas }}</li>
        <li><strong>Parques:</strong> {{ barrio.numero_parques }}</li>
        <li><strong>Edificios Residenciales:</strong> {{ barrio.numero_edificios_residenciales }}</li>
    </ul>

    <h3>Presidente del Barrio:</h3>
    {% if barrio.presidente %}
    <ul>
        <li><strong>Nombre (Nickname):</strong> {{ barrio.presidente.nickname }}</li>
        <li><strong>Cédula:</strong> {{ barrio.presidente.cedula }}</li>
        <li><strong>Edad:</strong> {{ barrio.presidente.edad }}</li>
        <li><strong>Profesión:</strong> {{ barrio.presidente.profesion }}</li>
    </ul>
    {% else %}
        <p>No tiene presidente asignado.</p>
    {% endif %}
    
    <br>
    <a href="{% url 'index' %}">Volver al inicio</a>
</div>
{% endblock %}
