<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Barrio</title>
</head>
<body>
    <h2>Detalles del Barrio: {{ barrio.nombre }}</h2>
    <ul>
        <li><strong>Nombre:</strong> {{ barrio.nombre }}</li>
        <li><strong>Parroquia:</strong> {{ barrio.parroquia.nombre }}</li>
        <li><strong>Viviendas:</strong> {{ barrio.numero_viviendas }}</li>
        <li><strong>Parques:</strong> {{ barrio.numero_parques }}</li>
        <li><strong>Edificios Residenciales:</strong> {{ barrio.numero_edificios_residenciales }}</li>
    </ul>

    <h3>Presidente del Barrio:</h3>
    {% if barrio.presidente %}
    <ul>
        <li><strong>Nombre (Nickname):</strong> {{ barrio.presidente.nickname }}</li>
        <li><strong>Cédula:</strong> {{ barrio.presidente.cedula }}</li>
        <li><strong>Edad:</strong> {{ barrio.presidente.edad }}</li>
        <li><strong>Profesión:</strong> {{ barrio.presidente.profesion }}</li>
    </ul>
    {% else %}
        <p>No tiene presidente asignado.</p>
    {% endif %}
    
    <br>
    [<a href="{% url 'index' %}">inicio</a>]
</body>
</html>
